@page "/MPR"
    <h3>MPR</h3>

    @*<iframe style="height:100%; width:100%" src="https://laws-lois.justice.gc.ca/eng/regulations/sor-2007-115/" frameborder="0" allowfullscreen="true"></iframe>*@

    <iframe height="800" width="1500" src="https://laws-lois.justice.gc.ca/PDF/SOR-2007-115.pdf" frameborder="0" allowfullscreen="true"></iframe>


    @code {

    }
